.card{
    height:15rem;
    width:13rem;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    background: rgba(255,255,255,0.26);
    border:7px solid var(--orangeCard);
    box-shadow: var(--boxShadow);
    border-radius: 20px;
    padding: 0 26px 2rem 26px;
    overflow: hidden;
    text-align: center;
    z-index:1;
}
.card span:nth-of-type(2){
    color:var(--gray);
    font-size: 16px;
     
}
.card > img{
    transform: scale(0.6);
    margin-bottom: -2rem;

}
.card span {
  width: 100%;
  word-wrap: break-word;
}

.card span:first-of-type {
  font-weight: bold;
  font-size: 1rem;
  margin-top: -1rem;
}

.card span:last-of-type {
  font-size: 0.8rem;
  color: var(--gray);
  line-height: 1.2rem;
  padding-top: 1rem;
  justify-content: flex-start;
  margin-top: -2.5rem;
}